@tailwind base;
@tailwind components;
@tailwind utilities;

/* Project overrides */
html, body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}

/* Add any additional custom styles below */
